.app-container {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}


/* Navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.navbar-logo {
  width: 28px;
}

.navbar-options {
  display: flex;
  align-items: center;
}

.navbar-separator {
  border-right: 1px solid var(--lighterGray);
  height: 30px;
  display: flex;
  gap: 0;
}

.navbar-theme-switcher-icon {
  margin-left: 12px;
}


/* Error message */
.error-message-title {
  text-align: center;
  font-weight: bold;
  margin-top: 100px;
}

.error-message-content {
  text-align: center;
  color: var(--lightGray)
}


/* Spinner */
.search-input-spinner .MuiLinearProgress-barColorPrimary {
  background-color: var(--mediumPurple); 
}

.MuiLinearProgress-root {
  background-color: var(--lightPurple) !important;
}


@media screen and (min-width: 768px) {
  .app-container {
    padding: 50px 0px;
  }
}


